.calendar ul{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1em;
}
li{
    display: flex;
    list-style-type: none;
    font-size: 4em;
    height: 125px;
    background-color: lightslategray;
    justify-content: center;
    align-items: center;
}
.other-month{
    background-color: lightblue;
}
.other-month:hover{
    width: 230px;
    height: 130px;
}

/* css grid layout */
.grid{
    display: grid;
    /* grid-template-columns: 150px 150px 150px 100px; */
    /* grid-template-columns: repeat(3, 350px); */
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
}
.box4{
    border: 3px solid greenyellow;
}


/* transform */
.box{
    border: 2px solid tomato;
    width: 100px;
    height: 100px;
}
.outer{
    background-color: gray;
}
.innar{
    background-color: brown;
    transform: rotate(45deg) scale(0.75);
    /* ja korbe sob transform ar vitor korte hobe alada transform likhle kaj korbe nah */
}
section{
    margin-bottom: 10px;
}
.box1{
    border: 2px solid cyan;
    width: 200px;
    height: 200px;
    background-color: darkcyan;
    transition: width 2s ease .5s;
    /* transition korte 4ta property set korte hoi */
}
.box1:hover{
    background-color: aqua;
    width: 500px;
}
/* Transition and transform skip kora hoyece pore korbo tai */
@keyframes slidein {
    0% {
        left: 0;
        top: 0;
        background-color: yellow;
    }
    50% {
        left: 400px;
        top: 100px;
        background-color: red;
    }
    100% {
        left: 800px;
        top: 0;
        background-color: yellow;
    }
}
.stage{
    background-color: green;
    height: 200px;
    width: 900px;
    position: relative;
}
.ball{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
}

.stage:hover .ball{
    animation: slidein 3s ease-in-out 1s infinite alternate ;
}

/* flex box  */
.container{
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    justify-content: flex-end;
}
.box3{
    width: 300px;
    height: 200px;
    font-size: 40px;
    border: 3px solid gold;
    border-radius: 5px;
    margin: 5px;
}

